:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

* {
    margin: 0
}

body {
    background-color: #f2f9ff
}

header {
    width: 100%;
    background-color: #FFF;
    position: fixed;
    z-index: 1
}

.navbar {
    width: 100%
}

.navbar-brand {
    float: left
}

.navbar-brand-logo {
    margin: 20px
}

.nav-item {
    list-style: none;
    padding-right: 20px;
    background-color: #fff;
    border: 1.5px solid #FFF;
    border-radius: 5px;
    padding: 1px 5px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px;
    cursor: pointer
}

.nav-link {
    text-decoration: none;
    color: rgb(51, 40, 26)
}

.navbar-nav {
    float: left;
    margin-top: 35px;
    margin-left: 1px;
    padding-left: 0
}

.navbar-pull-right {
    float: right;
    margin-right: 10px;
    margin-top: 35px
}

.wrapper {
    display: flex;
    width: 100%;
    height: 600px
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 100px
}

.sidebar li {
    list-style-type: none
}

.sidebar a {
    padding: 8px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block
}

.sidebar a:hover {
    color: #f1f1f1
}

.page {
    width: 100%;
    margin: auto auto auto 20%;
    z-index: 0;
    padding-bottom: 100px
}

.page-bar {
    position: fixed;
    top: 13%;
    left: 20%;
    z-index: 1
}

.page-header {
    background-color: #716F81;
    margin: 13% auto;
    padding: 2%
}

.page-content input {
    margin-right: .5%;
    margin-left: 2%
}

.page-title {
    padding: 5%;
    height: 400px
}

.card-position {
    top: 35%;
    left: 20%
}

table {
    border-collapse: collapse;
    border-spacing: 2px
}

.table thead th {
    vertical-align: bottom
}

.table td,
.table th {
    padding: .15rem .15rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

th {
    text-align: inherit
}

td {
    display: table-cell
}

.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: #32383e;
    background-color: #212529;
    color: #FFF
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2
}

.table-striped-dark {
    background-color: #212529;
    color: #FFF
}

.table-striped-dark tr:nth-child(odd) {
    background-color: #2C3034
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6
}

.table-bordered-dark td,
.table-bordered-dark th,
.table-bordered-dark tr {
    color: #fff;
    background-color: #212529;
    border: 1px solid #dee2e6
}

.table-bordered-dark thead td,
.table-bordered-dark thead th {
    border-bottom-width: 3px
}

.table-borderless tbody+tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
    border: 0
}

.table-borderless-dark {
    display: inline-block;
    background-color: #212529;
    color: #FFF
}

.table-borderless-dark td,
.table-borderless-dark th {
    border: 0
}

.table-hover tbody tr:hover {
    background-color: #ECECEC
}

.table-hover-dark {
    background-color: #212529;
    color: #FFF
}

.table-hover-dark td,
.table-hover-dark th {
    border-color: #32383e
}

.table-hover-dark tbody tr:hover {
    background-color: #323539
}

.table .table-primary {
    color: #000;
    background-color: #cce5ff;
    border-color: #b8daff
}

.table .table-primary-hover:hover {
    background-color: #0069D9;
    text-decoration: none
}

.table .table-secondary {
    color: #000;
    background-color: #e2e3e5;
    border-color: #d6d8db
}

.table .table-secondary-hover:hover {
    background-color: #5A6268;
    text-decoration: none
}

.table .table-success {
    color: #000;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.table .table-success-hover:hover {
    background-color: #218838;
    text-decoration: none
}

.table .table-danger {
    color: #000;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.table .table-danger-hover:hover {
    background-color: #C82333;
    text-decoration: none
}

table .table-warning {
    color: #000;
    background-color: #fff3cd;
    border-color: #ffeeba
}

.table .table-warning-hover:hover {
    background-color: #E0A800;
    text-decoration: none
}

.table .table-info {
    color: #000;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.table .table-info-hover:hover {
    background-color: #138496;
    text-decoration: none
}

.table .table-light {
    color: #000;
    background-color: #fefefe;
    border-color: #fdfdfe
}

.table .table-light-hover:hover {
    background-color: #E2E6EA;
    text-decoration: none
}

.table .table-row-dark {
    border-color: #c6c8ca;
    background-color: #222629;
    color: var(--white)
}

.table .table-row-dark-hover:hover {
    background-color: var(--gray-dark);
    text-decoration: none
}

.table .bg-primary {
    background-color: var(--primary);
    text-align: center;
    color: var(--white);
    text-decoration: none
}

.table .bg-primary-hover:hover {
    background-color: #0069D9;
    text-decoration: none
}

.table .bg-secondary {
    background-color: var(--secondary);
    text-align: center;
    color: var(--white)
}

.table .bg-secondary-hover:hover {
    background-color: #5A6268;
    text-decoration: none
}

.table .bg-success {
    background-color: var(--success);
    text-align: center;
    color: var(--white)
}

.table .bg-success-hover:hover {
    background-color: #218838;
    text-decoration: none
}

.table .bg-danger {
    background-color: var(--danger);
    text-align: center;
    color: var(--white)
}

.table .bg-danger-hover:hover {
    background-color: #C82333;
    text-decoration: none
}

.table .bg-warning {
    background-color: var(--warning);
    text-align: center;
    color: #000
}

.table .bg-warning-hover:hover {
    background-color: #E0A800;
    text-decoration: none
}

.table .bg-info {
    background-color: var(--info);
    text-align: center;
    color: var(--white)
}

.table .bg-info-hover:hover {
    background-color: #138496;
    text-decoration: none
}

.table .bg-light {
    background-color: var(--light);
    text-align: center;
    color: #000
}

.table .bg-light-hover:hover {
    background-color: #E2E6EA;
    text-decoration: none
}

.table .bg-dark {
    background-color: #222629;
    text-align: center;
    color: var(--white)
}

.table .bg-dark-hover:hover {
    background-color: var(--gray-dark);
    text-decoration: none
}

.table-center {
    margin-left: auto;
    margin-right: auto
}

.table-full-width {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd
}

.table-side .row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px
}

.table-side .column {
    flex: 50%;
    padding: 5px
}

.table-side table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd
}

.table-side th,
.table-side td {
    text-align: left;
    padding: 16px
}

.table-side tbody tr:nth-child(odd) {
    background-color: #f2f2f2
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .3rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem
}

.btn-primary {
    background-color: var(--primary);
    text-align: center;
    color: var(--white);
    text-decoration: none
}

.btn-primary:hover {
    background-color: #0069D9;
    text-decoration: none
}

.btn-secondary {
    background-color: var(--secondary);
    text-align: center;
    color: var(--white)
}

.btn-secondary:hover {
    background-color: #5A6268;
    text-decoration: none
}

.btn-success {
    background-color: var(--success);
    text-align: center;
    color: var(--white)
}

.btn-success:hover {
    background-color: #218838;
    text-decoration: none
}

.btn-danger {
    background-color: var(--danger);
    text-align: center;
    color: var(--white)
}

.btn-danger:hover {
    background-color: #C82333;
    text-decoration: none
}

.btn-warning {
    background-color: var(--warning);
    text-align: center;
    color: #000
}

.btn-warning:hover {
    background-color: #E0A800;
    text-decoration: none
}

.btn-info {
    background-color: var(--info);
    text-align: center;
    color: var(--white)
}

.btn-info:hover {
    background-color: #138496;
    text-decoration: none
}

.btn-light {
    background-color: var(--light);
    text-align: center;
    color: #000
}

.btn-light:hover {
    background-color: #E2E6EA;
    text-decoration: none
}

.btn-dark {
    background-color: #222629;
    text-align: center;
    color: var(--white)
}

.btn-dark:hover {
    background-color: var(--gray-dark);
    text-decoration: none
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline
}

.a-link {
    display: inline-block;
    font-weight: 400;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid;
    border-radius: .25rem;
    padding: .3rem .75rem
}

.a-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff
}

.a-primary-hover:hover {
    background-color: #0069D9;
    text-decoration: none;
    color: #FFF
}

.a-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db
}

.a-secondary-hover:hover {
    background-color: #5A6268;
    text-decoration: none;
    color: #FFF
}

.a-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.a-success-hover:hover {
    background-color: #218838;
    text-decoration: none;
    color: #FFF
}

.a-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.a-danger-hover:hover {
    background-color: #C82333;
    text-decoration: none;
    color: #FFF
}

.a-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}

.a-warning-hover:hover {
    background-color: #E0A800;
    text-decoration: none;
    color: #FFF
}

.a-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.a-info-hover:hover {
    background-color: #138496;
    text-decoration: none
}

.a-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe
}

.a-light-hover:hover {
    background-color: #E2E6EA;
    text-decoration: none;
    color: #000
}

.a-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca
}

.a-dark-hover:hover {
    background-color: var(--gray-dark);
    text-decoration: none;
    color: #FFF
}

.alert {
    position: relative;
    padding: .5rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: fit-content;
    font-size: 18px
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca
}

.breadcrumb {
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    /*nowarp, warp-reverse*/
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
    width: fit-content
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #000;
    content: "/\00a0"
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin-bottom: 0
}

.card img {
    vertical-align: middle;
    border-style: none
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-title {
    margin-bottom: .75rem
}

.card-body p {
    margin-top: 0;
    margin-bottom: 1rem
}

.form-container {
    width: 100%;
    height: 100%
}

.form-container {
    width: 23%;
    height: fit-content;
    background-color: #FFF;
    display: block;
    padding: 10px 30px 30px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border-radius: 5px
}

.form-title {
    margin-top: 0;
    padding-left: .5px;
    padding-bottom: 1rem;
    color: #580373
}

.form-control {
    display: block;
    width: 100%;
    height: 1.85rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: vertical
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: 700
}

input[type="search"] {
    padding: 10px 80px 10px 10px;
    box-sizing: border-box
}

input[type="checkbox"],
input[type="radio"] {
    margin: 10px 0 0;
    margin-top: 1px\9;
    line-height: normal
}

input[type="file"] {
    display: block
}

input[type="range"] {
    display: block;
    width: 100%
}

select[multiple],
select[size] {
    height: auto
}

.modal {
    display: inline-block;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: var(--font-family-sans-serif);
    font-weight: 50
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 35%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: 700
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.modal-header {
    padding: 10px 16px;
    color: #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px
}

.modal-body {
    padding: 2px 16px;
    border-top: 1px solid #E9ECEF;
    border-bottom: 1px solid #E9ECEF
}

.modal-footer {
    padding: 2% 2% 2% 63%;
    color: #000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.modal-footer button {
    margin-right: 5px;
    cursor: pointer
}

.dashboard-stat {
    display: inline-block;
    width: 10%;
    height: 8%;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #FFF
}

.details {
    width: fit-content;
    height: fit-content;
    margin: 7% 6% auto auto;
    float: right
}

.number {
    width: fit-content;
    height: fit-content;
    margin: 7% 6% auto auto;
    font-size: 20px
}

.dashboard-stat strong {
    font-size: 12px
}

.red-intense {
    background-color: #E35B5A
}

.purple-plum {
    background-color: #8775A7
}

.green-haze {
    background-color: #44B6AE
}

.blue-madison {
    background-color: #578EBE
}

.d-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff
}

.d-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db
}

.d-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.d-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.d-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}

.d-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.d-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe
}

.d-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca
}

.spinner {
    display: inline-block;
    border: 4px solid #fff;
    border-radius: 50%;
    border-top: 4px solid silver;
    width: 25px;
    height: 25px;
    animation: spin 1.5s linear infinite
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.spin-primary {
    border-top: 4px solid var(--primary)
}

.spin-secondary {
    border-top: 4px solid var(--secondary)
}

.spin-success {
    border-top: 4px solid var(--success)
}

.spin-danger {
    border-top: 4px solid var(--info)
}

.spin-warning {
    border-top: 4px solid var(--warning)
}

.spin-info {
    border-top: 4px solid var(--danger)
}

.spin-light {
    border-top: 4px solid var(--light)
}

.spin-dark {
    border-top: 4px solid var(--dark)
}

.dual-spin {
    content: " ";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: silver transparent silver transparent;
    animation: dual-spin 1.2s linear infinite
}

@keyframes dual-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.dual-spin-primary {
    border-color: var(--primary) transparent var(--primary) transparent
}

.dual-spin-secondary {
    border-color: var(--secondary) transparent var(--secondary) transparent
}

.dual-spin-success {
    border-color: var(--success) transparent var(--success) transparent
}

.dual-spin-danger {
    border-color: var(--danger) transparent var(--danger) transparent
}

.dual-spin-warning {
    border-color: var(--warning) transparent var(--warning) transparent
}

.dual-spin-info {
    border-color: var(--info) transparent var(--info) transparent
}

.dual-spin-light {
    border-color: var(--light) transparent var(--light) transparent
}

.dual-spin-dark {
    border-color: var(--dark) transparent var(--dark) transparent
}

.ring-spin {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px
}

.ring-spin div {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 8px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: ring-spin 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    border-color: red transparent transparent transparent
}

.ring-spin div:nth-child(1) {
    animation-delay: -0.45s
}

.ring-spin div:nth-child(2) {
    animation-delay: -0.3s
}

.ring-spin div:nth-child(3) {
    animation-delay: -0.15s
}

@keyframes ring-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.roller-spin {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px
}

.roller-spin div {
    animation: roller-spin 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    transform-origin: 40px 40px
}

.roller-spin div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: blue;
    margin: -4px 0 0 -4px
}

.roller-spin div:nth-child(1) {
    animation-delay: -0.036s
}

.roller-spin div:nth-child(1):after {
    top: 63px;
    left: 63px
}

.roller-spin div:nth-child(2) {
    animation-delay: -0.072s
}

.roller-spin div:nth-child(2):after {
    top: 68px;
    left: 56px
}

.roller-spin div:nth-child(3) {
    animation-delay: -0.108s
}

.roller-spin div:nth-child(3):after {
    top: 71px;
    left: 48px
}

.roller-spin div:nth-child(4) {
    animation-delay: -0.144s
}

.roller-spin div:nth-child(4):after {
    top: 72px;
    left: 40px
}

.roller-spin div:nth-child(5) {
    animation-delay: -0.18s
}

.roller-spin div:nth-child(5):after {
    top: 71px;
    left: 32px
}

.roller-spin div:nth-child(6) {
    animation-delay: -0.216s
}

.roller-spin div:nth-child(6):after {
    top: 68px;
    left: 24px
}

.roller-spin div:nth-child(7) {
    animation-delay: -0.252s
}

.roller-spin div:nth-child(7):after {
    top: 63px;
    left: 17px
}

.roller-spin div:nth-child(8) {
    animation-delay: -0.288s
}

.roller-spin div:nth-child(8):after {
    top: 56px;
    left: 12px
}

@keyframes roller-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px
}

.ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: green;
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
}

.ellipsis div:nth-child(1) {
    left: 8px;
    animation: ellipsis1 0.6s infinite
}

.ellipsis div:nth-child(2) {
    left: 8px;
    animation: ellipsis2 0.6s infinite
}

.ellipsis div:nth-child(3) {
    left: 32px;
    animation: ellipsis2 0.6s infinite
}

.ellipsis div:nth-child(4) {
    left: 56px;
    animation: ellipsis3 0.6s infinite
}

@keyframes ellipsis1 {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes ellipsis3 {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(0)
    }
}

@keyframes ellipsis2 {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(24px, 0)
    }
}

.ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px
}

.ripple div {
    position: absolute;
    border: 4px solid yellow;
    opacity: 1;
    border-radius: 50%;
    animation: ripple 1s cubic-bezier(0, .2, .8, 1) infinite
}

.ripple div:nth-child(2) {
    animation-delay: -0.5s
}

@keyframes ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1
    }
    100% {
        top: 0;
        left: 0;
        width: 72px;
        height: 72px;
        opacity: 0
    }
}

.progress {
    height: 20px;
    position: relative;
    background: #555;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .3)
}

.progress>span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: palegoldenrod;
    background-image: linear-gradient(center bottom, palet 37%, paleturquoise 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, .3), inset 0 -2px 6px rgba(0, 0, 0, .4);
    position: relative;
    overflow: hidden
}

.orange>span {
    background-color: #f1a165;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a)
}

.red>span {
    background-color: #f0a3a3;
    background-image: linear-gradient(to bottom, #f0a3a3, #f42323)
}

.primary>span {
    background-color: var(--primary);
    background-image: linear-gradient(to bottom, var(--primary), #0069D9)
}

.secondary>span {
    background-color: var(--secondary);
    background-image: linear-gradient(to bottom, var(--secondary), #5A6268)
}

.success>span {
    background-color: var(--success);
    background-image: linear-gradient(to bottom, var(--success), #218838)
}

.danger>span {
    background-color: var(--danger);
    background-image: linear-gradient(to bottom, var(--danger), #C82333)
}

.warning>span {
    background-color: var(--warning);
    background-image: linear-gradient(to bottom, var(--warning), #E0A800)
}

.info>span {
    background-color: var(--info);
    background-image: linear-gradient(to bottom, var(--info), #138496)
}

.light>span {
    background-color: var(--light);
    background-image: linear-gradient(to bottom, var(--light), #E2E6EA)
}

.dark>span {
    background-color: var(--dark);
    background-image: linear-gradient(to bottom, var(--dark), var(--gray-dark))
}

.progress>span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden
}

.stop>span::after {
    display: none
}

@keyframes move {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 50px 50px
    }
}

.progress>span::after,
.animate>span>span {
    animation: move 2s linear infinite
}

@keyframes expandWidth {
    0% {
        width: 0
    }
    100% {
        width: auto
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted orange; */
    /* color: orangered */
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    /* background-color: var(--success); */
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    top: 100%;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    /* margin-left: 10% */
    /* margin-top: 10%; */
}

#page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "head head ""nav  main""nav  foot";
    grid-template-rows: 70px 1fr 30px;
    grid-template-columns: 200px 1fr
}

#page>header {
    grid-area: head;
    background-color: #FFF
}

#page>nav {
    grid-area: nav;
    background-color: #2276E3;
    border-radius: 1%
}

#page>main {
    grid-area: main;
    background-color: #F5F5F5;
    border-radius: 1%
}

#page>footer {
    grid-area: foot;
    background-color: #363636;
    border-radius: 1%
}


/* --------------------------Grid end--------------- */


/* --------------------Badge starts-------------------- */

.badge {
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.badge:hover {
    background: var(--success);
}

.badge .badge-class {
    position: absolute;
    top: -10px;
    right: -20px;
    padding: 5px 10px;
    border-radius: 25% 50%;
    background-color: var(--danger);
    color: white;
}

/* ---------------------Badges Ends----------------- */

/* ------------------Accordian starts------------------ */

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.row {
    display: flex;
}
.row .col {
    flex: 1;
}
.row .col:last-child {
    margin-left: 1em;
}
/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab {
    width: 100%;
    color: white;
    overflow: hidden;
}
.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #2c3e50;
    font-weight: bold;
    cursor: pointer;
   /* Icon */
}
.tab-label:hover {
    background: #1a252f;
}
.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
}
.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
}
.tab-close:hover {
    background: #1a252f;
}
input:checked + .tab-label {
    background: #1a252f;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}

/* ---------------------Accordion ends----------------------- */
