:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/* ------------------Over all-------------------- */
*{
    margin: 0;
}
body{
   
    background-color: #FFFFFF;
}


/* ------------------------Header Start----------------------- */
header {

    width: 100%;
    /* height: 100px; */
    background-color: rgb(0,0,0);
    position: fixed;
    z-index: 1;
}

.navbar{
    width: 100%;
}

.navbar-brand {
    /* padding: 50px auto 0; */
    /* display: inline-block; */
    float:left;
    
}
.navbar-brand-logo {
    margin: 20px; 
    background-color: red;
    /* float: left; */
}
.nav-item {
    list-style: none;
    padding-right: 20px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 5px;
    /* color: green; */
    padding: 1px 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 5px 10px;
    cursor: pointer;
   
}
.nav-link {
    text-decoration: none;
    color: rgb(51,40,26);
}
.navbar-nav {
    /* position: absolute; */
    float: left;
   margin-top: 10px;
   margin-left: 10px;
}
.navbar-pull-right {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

/* -------------------------------Header Ends------------------------- */

/* ----------------------------------Body Start---------------------------- */

.wrapper {
    display: flex;
    /* background-color: #716F81; */
    width: 100%;
    height: 600px;
}

/* -----------------------------------Side bar starts----------------------------- */

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 100px;
    /* margin: 50px auto auto auto; */
  }
  
  .sidebar li {
      list-style-type: none;
  }
  .sidebar a {
    
    padding: 8px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }


/* -----------------------------------Page starts-------------------------------- */
.page {
    /* background-color: white; */
    width: 100%;
    margin: auto auto auto 20%;
    z-index: 0;
    padding-bottom: 100px;
}
.page-bar {
    position: fixed;
    top: 13%;
    left: 20%;
    z-index: 1;
}


  .page-header {
      background-color: #716F81;
      margin: 13% auto;
      padding: 2%;
      /* z-index: 0; */
  }

  .page-content input {
      margin-right:0.5%;
      margin-left: 2%;
  }
 

  .page-title {
      padding: 5%;
      /* background-color: #FFFFFF; */
      height: 400px;
      /* margin: 20% auto; */
  }

  .card-position {
      top: 35%;
      left: 20%;
   

  }

  /* ---------------------Page Ends----------------------------------------- */

/* ------------------------Table-Start------------------------------------------------ */

table {
    border-collapse: collapse;
    border-spacing: 2px;
}

.table thead th {
    vertical-align: bottom;
    /* border-bottom: 2px solid #dee2e6; */
    /* For header bottom border*/
}

.table td,
.table th {
    padding: .75rem 2rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    text-align: inherit;
}

td {
    display: table-cell;

}

/* --------Dark----------- class="table-dark" */
.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: #32383e;
    background-color: #212529;
    color: #FFFFFF;
}

/* ----------Head Dark-----head-- class="thead-dark" */
.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

/* ---------------Head Light---head---class="thead-light" */
.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/* ----------------Striped----------- class="table-striped" */
.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* ------------------Striped Dark---------class="table-striped-dark" */
.table-striped-dark {
    background-color: #212529;
    color: #FFFFFF;
}

.table-striped-dark tr:nth-child(odd) {
    background-color: #2C3034;
}

/* ----------------Bordered---------class="table-bordered" */
.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
}

/* ---------------Bordered Dark----------class="table-bordered-dark" */
.table-bordered-dark td,
.table-bordered-dark th,
.table-bordered-dark tr {
    color: #fff;
    background-color: #212529;
    border: 1px solid #dee2e6;
}

.table-bordered-dark thead td,
.table-bordered-dark thead th {
    border-bottom-width: 3px;
}

/* -----------Borderless-----------class="table-borderless" */

.table-borderless tbody+tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
    border: 0;
}

/* ----------------Borderless Dark -----------class="table-borderless-dark" */
.table-borderless-dark {
    display: inline-block;
    background-color: #212529;
    color: #FFFFFF;
    /* border: 0; */
}

.table-borderless-dark td,
.table-borderless-dark th {
    border: 0;

}

/* -----------------Table Hover----------------class="table-hover" */

.table-hover tbody tr:hover {
    background-color: #ECECEC;
}

/* -----------------Table Hover Dark--------------- class="table-hover-dark" */

.table-hover-dark {
    /* border-color: #32383e; */
    background-color: #212529;
    color: #FFFFFF;


}

.table-hover-dark td,
.table-hover-dark th {

    border-color: #32383e;

}

.table-hover-dark tbody tr:hover {
    background-color: #323539;
}

/* ------------------Contextual Table --------------tr-------- class="table-primary" */
.table .table-primary {
    /* color: #004085; */
    color: black;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.table .table-primary-hover:hover {
    background-color: #0069D9;
    text-decoration: none;
}

.table .table-secondary {
    /* color: #383d41; */
    color: black;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.table .table-secondary-hover:hover {

    background-color: #5A6268;
    text-decoration: none;
}

.table .table-success {
    /* color: #155724; */
    color: black;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.table .table-success-hover:hover {

    background-color: #218838;
    text-decoration: none;
}

.table .table-danger {
    /* color: #721c24; */
    color: black;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.table .table-danger-hover:hover {

    background-color: #C82333;
    text-decoration: none;
}

table .table-warning {
    /* color: #856404; */
    color: black;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.table .table-warning-hover:hover {

    background-color: #E0A800;
    text-decoration: none;
}

.table .table-info {
    /* color: #0c5460; */
    color: black;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.table .table-info-hover:hover {

    background-color: #138496;
    text-decoration: none;
}

.table .table-light {
    /* color: #818182; */
    color: black;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.table .table-light-hover:hover {

    background-color: #E2E6EA;
    text-decoration: none;
}

.table .table-row-dark {

    border-color: #c6c8ca;
    background-color: #222629;

    color: var(--white);
}

.table .table-row-dark-hover:hover {

    background-color: var(--gray-dark);
    text-decoration: none;
}

/* ---------------------------bg tables---------tr----------class="bg-primary" */

.table .bg-primary {
    background-color: var(--primary);
    text-align: center;
    color: var(--white);
    text-decoration: none;

}

.table .bg-primary-hover:hover {
    background-color: #0069D9;
    text-decoration: none;
}

.table .bg-secondary {
    background-color: var(--secondary);
    text-align: center;
    color: var(--white);

}

.table .bg-secondary-hover:hover {

    background-color: #5A6268;
    text-decoration: none;
}

.table .bg-success {
    background-color: var(--success);
    text-align: center;
    color: var(--white);

}

.table .bg-success-hover:hover {

    background-color: #218838;
    text-decoration: none;
}

.table .bg-danger {
    background-color: var(--danger);
    text-align: center;
    color: var(--white);

}

.table .bg-danger-hover:hover {

    background-color: #C82333;
    text-decoration: none;
}

.table .bg-warning {
    background-color: var(--warning);
    text-align: center;
    color: black;

}

.table .bg-warning-hover:hover {

    background-color: #E0A800;
    text-decoration: none;
}

.table .bg-info {
    background-color: var(--info);
    text-align: center;
    color: var(--white);

}

.table .bg-info-hover:hover {

    background-color: #138496;
    text-decoration: none;
}

.table .bg-light {
    background-color: var(--light);
    text-align: center;
    color: black;

}

.table .bg-light-hover:hover {

    background-color: #E2E6EA;
    text-decoration: none;
}

.table .bg-dark {
    background-color: #222629;
    text-align: center;
    color: var(--white);

}


.table .bg-dark-hover:hover {

    background-color: var(--gray-dark);
    text-decoration: none;
}

/* --------------------------Center Table------------------class="table-center" */
.table-center {

    margin-left: auto;
    margin-right: auto;

}

/* ------------------Full Width Table--------------class="table-full-width" */

.table-full-width {

    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;

}

/* --------------------Side by Side Table--------------class="table-side" */

/* <div class="table-side">
    <div class="row">
        <div class="column">
            <table class=" ">
            </table>
        </div>
        <div class="column">
            <table class="">
            </table>
        </div>
    </div>
</div> */

.table-side .row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.table-side .column {
    flex: 50%;
    padding: 5px;
}

.table-side table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.table-side th,
.table-side td {
    text-align: left;
    padding: 16px;
}

.table-side tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* ------------------Responsive Tables---------div style = overflow-x :auto-----------class="table" */

/* <div style="overflow-x:auto;">
            <table class="table">
            </table>
</div> */


/* -----------------------------------Table-End----------------------------------------------------- */

/* ---------------------------------------------Button-End----------------------------------- */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .3rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

}

.btn-primary {
    background-color: var(--primary);
    text-align: center;
    color: var(--white);
    text-decoration: none;

}

.btn-primary:hover {
    background-color: #0069D9;
    text-decoration: none;
}

.btn-secondary {
    background-color: var(--secondary);
    text-align: center;
    color: var(--white);

}

.btn-secondary:hover {

    background-color: #5A6268;
    text-decoration: none;
}

.btn-success {
    background-color: var(--success);
    text-align: center;
    color: var(--white);

}

.btn-success:hover {

    background-color: #218838;
    text-decoration: none;
}

.btn-danger {
    background-color: var(--danger);
    text-align: center;
    color: var(--white);

}

.btn-danger:hover {

    background-color: #C82333;
    text-decoration: none;
}

.btn-warning {
    background-color: var(--warning);
    text-align: center;
    color: black;

}

.btn-warning:hover {

    background-color: #E0A800;
    text-decoration: none;
}

.btn-info {
    background-color: var(--info);
    text-align: center;
    color: var(--white);

}

.btn-info:hover {

    background-color: #138496;
    text-decoration: none;
}

.btn-light {
    background-color: var(--light);
    text-align: center;
    color: black;

}

.btn-light:hover {

    background-color: #E2E6EA;
    text-decoration: none;
}

.btn-dark {
    background-color: #222629;
    text-align: center;
    color: var(--white);

}

.btn-dark:hover {

    background-color: var(--gray-dark);
    text-decoration: none;
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
}

/* ------------------------------Button-End--------------------------------- */
/* -----------------------------Anchor link start-------------- */

.a-link{
    display: inline-block;
    font-weight: 400;
    color: #007bff;
    /* background-color: #d1ecf1; */
    cursor: pointer;
    text-decoration: none;
    border: 1px solid;
    border-radius: .25rem;
    padding: .3rem .75rem;
    
}

.a-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.a-primary-hover:hover {
    background-color: #0069D9;
    text-decoration: none;
    color: #FFFFFF;
}
.a-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
.a-secondary-hover:hover {

    background-color: #5A6268;
    text-decoration: none;
    color: #FFFFFF;
}
.a-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    
}
.a-success-hover:hover {

    background-color: #218838;
    text-decoration: none;
    color: #FFFFFF;
}

.a-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.a-danger-hover:hover {

    background-color: #C82333;
    text-decoration: none;
    color: #FFFFFF;
}

.a-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.a-warning-hover:hover {

    background-color: #E0A800;
    text-decoration: none;
    color: #FFFFFF;
}

.a-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.a-info-hover:hover {

    background-color: #138496;
    text-decoration: none;
}

.a-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}
.a-light-hover:hover {

    background-color: #E2E6EA;
    text-decoration: none;
    color: #000;
}

.a-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}
.a-dark-hover:hover {

    background-color: var(--gray-dark);
    text-decoration: none;
    color: #FFFFFF;
}
/* --------------------------Anchor link End-------------------- */


/* ------------------------Alerts-Start------------------------------  */

.alert {
    position: relative;
    padding: .5rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: fit-content;
    font-size: 18px;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}


/* -----------------------Breadcrumbs-Start-------------------------------- */

.breadcrumb {

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
    width: fit-content;
    
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* -----------------------------Breadcrumb-End---------------------- */

/* --------------------------------Cards-Start------------------------------- */


.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
 

}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin-bottom: 0;
}

.card img {

    vertical-align: middle;
    border-style: none;

}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.card-body p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* ------------------------------------Cards-End------------------------------ */

/* --------------------------------Forms Start-------------------------------- */

.form-container {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
  }
  
  .form-container {
    width: 23%;
    height: fit-content;
    background-color: #FFFFFF;
    display: block;
    padding: 10px 30px 30px 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    border-radius: 5px;
  }
  .form-title{
    margin-top: 0;
    padding-left: 0.5px;
    padding-bottom: 1rem;
    color: #580373;
  }

 .form-control {
    display: block;
    width: 100%;
    height: 1.85rem;
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: vertical;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: 700;
}

input[type="search"] {
    padding: 10px 80px 10px 10px;
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 10px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

input[type="file"] {
    display: block;
}
input[type="range"] {
    display: block;
    width: 100%;
}
select[multiple],
select[size] {
    height: auto;
}




/* -----------------------------------------Forms End------------------------ */

/* --------------------------------------Modal Start-------------------------- */


/* The Modal (background) */
.modal {
   
  display: inline-block;
  position: fixed;
  z-index: 1;
  padding-top: 80px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
  font-family: var(--font-family-sans-serif);
  font-weight: 50;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 35%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 16px;
  /* background-color: #F3F1F5; */
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
}

.modal-body {
    padding: 2px 16px;
    border-top: 1px solid #E9ECEF;
    border-bottom: 1px solid #E9ECEF;
    
}

.modal-footer {
  padding: 2% 2% 2% 63%;
  /* background-color: #F3F1F5; */
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.modal-footer button {
    margin-right: 5px;
}


/* --------------------------------Modal Ends----------------------------------- */

/* -----------------------------------Dashboard Starts----------------------------- */

.dashboard-stat{
    display: inline-block;
    width: 10%;
    height: 8%;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.details {
    width: fit-content;
    height: fit-content;
    /* background-color: blueviolet; */
    margin: 7% 6% auto auto;
    float: right;
}
.number {
    width: fit-content;
    height: fit-content;
    /* background-color: blue; */
    margin: 7% 6% auto auto;
    font-size: 20px;
  
}
.dashboard-stat strong {
    font-size: 12px;
}
.red-intense {
    background-color: #E35B5A;
}
.purple-plum {
    background-color: #8775A7;
}
.green-haze {
    background-color: #44B6AE;
}
.blue-madison {
    background-color: #578EBE;
}
.d-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.d-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.d-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.d-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.d-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.d-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.d-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.d-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

/* ------------------------------------------Dashboard Ends------------------------- */